html,
body {
  height: 100%;
}

body {
  background-color: #222;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-weight: 700;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

a {
  color: white;
}

/**
  NAVBAR STUFF
*/
.navbar {
  display: flex;
  flex-direction: row;
  text-align: center;

  margin: 2rem 0;
}

.navbar ul {
  display: flex;
}

.navbar li {
  margin-right: 2rem;
}

/**
  HEADER STUFF
*/
.header {
  text-align: center;
  margin-bottom: 2rem;
  padding: 2rem;
  width: 80%;
  border: 2px solid #fff;
}

#welcome h1 {
  font-style: italic;
  font-size: 3rem;
  line-height: 1;
  background-image: -webkit-linear-gradient(
    #4ea9da 0%,
    #5bc2d4 46%,
    #ffffff 50%,
    #32120e 54%,
    #ffc488 58%,
    #582c11 90%,
    #ec9b4e 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #f5f5f5;
}

#welcome span {
  font-style: normal;
}

#welcome h2 {
  font-style: italic;
  font-size: 2rem;
  line-height: 1;
  background-image: -webkit-linear-gradient(
    #378dbc 0%,
    #b6e8f1 46%,
    #ffffff 50%,
    #32120e 54%,
    #ffc488 58%,
    #582c11 90%,
    #ec9b4e 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #f5f5f5;
}

/**
  MAIN STUFF
*/
.main {
  text-align: center;
  margin-bottom: 2rem;
  padding: 2rem;
  width: 80%;
  border: 2px solid #fff;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
}

.article {
  line-height: 1.5rem;
}

dl {
  margin-left: 5rem;
  text-align: start;
}

dt {
  width: 33%;
  margin-top: 2rem;
}
dd {
  margin-left: auto;
  width: 66%;
}

/**
  FOOTER STUFF
*/
.footer {
  text-align: center;
  margin-bottom: 2rem;
  padding: 2rem;
  width: 80%;
  border: 2px solid #fff;
}
